.loader
	display block
	width 25px
	height 25px
	border-radius 50%
	border .25rem solid alpha(#999, 0.2)
	border-top-color #999
	animation spin 1s infinite linear

@keyframes spin
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)
