{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "globals": {
   "__DEV__": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "indent": ["error", "tab"],
    "no-tabs": 0,
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "comma-dangle": ["error", "only-multiline"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "jsx-a11y/href-no-hash": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
       "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
