{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", "tab"],
    "no-tabs": 0,
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "only-multiline"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "jsx-a11y/href-no-hash": "off"
  }
}
