<!doctype html>
<html lang="" style="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="shortcut icon" href="static/i/favicons/favicon.ico">
  <title>Title</title>
  <%if (process.env.NODE_ENV === "production") { %>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <link href="<%= htmlWebpackPlugin.files.chunks[chunk].css %>" rel="stylesheet"></link>
    <% } %>
  <% } %>
</head>
<body>
  <div id="app" style="height: 100%"></div>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</body>
</html>
